[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[user]
	email = user@gmail.com
	name = user
[core]
	editor = vi
[http]
#	proxy = ip:port
#	sslVerify = false
#	noproxy = localhost,ip
[color]
	ui = true
[push]
	default = simple
